@import './colors.scss';


footer{
    background: rgb(13, 13, 13);
    color: rgb(199, 199, 199);
    padding: 50px 0 10px 0;
    display: flex;
    flex-direction: column;
}
.footer-top{
    display: flex;
    justify-content: center;
}
.social-media, .contact, .important-links{
    width: 300px;
    background: #222;
    padding: 30px;
    margin: 20px;
}
.footer-title{
    font-size: 20px;
    text-transform: uppercase;
    line-height: 30px;
    margin: 0 0 30px 0;
    position: relative;
    color: #e6e3e3;
    font-weight: bold;
    &:after{
        content: "";
        width: 50%;
        height: 4px;
        position: absolute;
        bottom: -10px;
        display: block;
        background: $red;
        left: 0;
    }
}

.contact-adres,
.contect-email,
.contect-telephone,
.social-media-title,
.important-link{
    color: rgba(235, 235, 235, 0.747);
    font-size: 15px;
    line-height: 25px;
    transition: color 0.3s ease-out;
    position: relative;
    a{
        color: rgba(235, 235, 235, 0.747);
    }
}
.important-link{
    display: block;
    &:hover{
        a{
            color: $white;
            cursor: pointer;
        }
    }
}

.social-media-icons{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    svg{
        fill: rgb(243, 243, 243);
    }
}
.social-media-icon{
    background: rgb(112, 112, 112);
    border-radius: 50%;
    padding: 10px;
    margin: 0 10px;
    transition: cursor, background 0.3s ease-out;
    &:hover{
        cursor: pointer;
        &.youTube{
            background: rgb(255,0,0);
        }
        &.facebook{
            background: rgb(60,90,153);
        }
        &.instagram{
            background: rgb(252,175,69);
        }
    }
}

//---------------------
.copyright{
    display: flex;
    justify-content: center;
    color: $white;
    align-items: center;
    padding: 5px 30px;
    font-size: 12px;
}

.copyright__logo{
    height: 30px;
    margin: 0 20px 0 0;
    img{
        height: 100%;;
    }
}