@import 'reset.scss';
@import 'nav.scss';
@import 'footer.scss';


.slider{
    width: 100%;
    &.football{
        .slider-photo{
            background-position: bottom;
        }
    }
}
.slider__button-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.slider__sign-up, .slider__find-out, .slider__grphic{
    color: #fff;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    margin: 0 10px;
    transition: all 0.5s ease-out;
    &:hover{
        color: $white;
        background: $red;
        cursor: pointer;
    }
}
.slider-photo{
    width: 100%;
    height: 100vh;
    // background-position: top center;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../images/slider1.jpg);
    transition: all 0.6s ease-out;
    // &.football{
    //     background-position: bottom;
    // }
    // &.gimfun{
    //     .slider__grphic{
    //         display: none;
    //     }
    // }
    img{
        display: none;
    }
}

.box_slider{
    position: absolute;
    bottom: 40px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.slider__button-main-title{
    font-size: 60px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    padding: 30px;
}


@media all and (max-width: 800px){
    .slider{

        &.cheerleder{
            .box_slider{
                top: 70px;
                justify-content: end;
            }
        }
        .slider-photo{
            background-attachment: inherit;
            background-image: url(../images/mslider1.jpg);
        }
        .box_slider{
            left: 50%;
            bottom: 10px;
            transform: translateX(-50%);
            // &.cheerleder{
            //     top: 70px;
            //     justify-content: end;
            // }
        }
        .slider__button-main-title{
            font-size: 35px;
            text-align: center;
        }
        .slider__button-box{
            flex-direction: column;
        }
        .slider__find-out, .slider__sign-up, .slider__grphic{
            font-size: 14px;
            text-align: center;
            width: 230px;
            margin: 10px 0;
            border: none;
            font-weight: bold;
        }
    }
}

//11.07.2019 - 4h
//12.07.2019 - 2,5h
//13.07.2019 - 2,5h
//14.07.2019 - 5h
//15/07/2019 - 1,5h + 3h design
//17/07/2019 - 6h
//18/07/2019 - 4h
//23/08/2019 - 1.5h
//24/07/2019 - 3h
//01/08/2019 - 1.5h
//02/08/2019 - 3.5h
//06/08/2019 - 3h
//07/08/2019 - 3h
//12/08/2019 - 4h
//13/08/2019 - 2h